body {
  font: 24px/66px "Special Elite", "Courier", "Helvetica", sans-serif;
  color: var(--text-color);
}

p .highlight {
  color: var(--pink);
}

.align-center {
  text-align: center;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}
