body {
  font: 18px/30px "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--highlight-color);
  transition: color var(--highlight-speed);

  &:hover {
    color: var(--highlight-color-hover);
  }
}

g a {
  &:not(.dark-link) path {
    fill: var(--highlight-color);
    transition: fill var(--highlight-speed);
    @include color-filter();
  }

  &:not(.static):hover path {
    fill: var(--highlight-color-hover);
  }
}
